[submodule "site-lisp/async"]
	path = site-lisp/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "site-lisp/fuzzy"]
	path = site-lisp/fuzzy
	url = https://github.com/m2ym/fuzzy-el.git
[submodule "site-lisp/helm-ipython"]
	path = site-lisp/helm-ipython
	url = https://github.com/osener/helm-ipython.git
[submodule "site-lisp/znc"]
	path = site-lisp/znc
	url = https://github.com/osener/ZNC.el.git
[submodule "site-lisp/color-theme-solarized"]
	path = site-lisp/color-theme-solarized
	url = https://github.com/osener/emacs-color-theme-solarized.git
