/url/cache
/.emacs.desktop
/auto-save-list
/.session
/custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
site-lisp/package/
/swank
/eshell/history
/eshell/lastdir
/.smex-items
/.bookmarks.el
/places
/osener.el
/.mc-lists.el
site-lisp/jshint-mode/node_modules/
/tmp
/var
/emms
/image-dired
/ido.last
/recentf
/frame-restore-parameters
/.nrepl-history
